<div class="footer__content">
  <div>
    <ul class="footer__nav-list">
      <a href="/index.html"><li class="footer__nav-item">HOME</li></a>
      <a href="/works.html"><li class="footer__nav-item">WORKS</li></a>
      <a href="/profile.html"><li class="footer__nav-item">PROFILE</li></a>
    </ul>
    <small class="footer__copyright">&copy; 2025 HARUKA OTSUKA</small>
  </div>
  <button class="scroll-top js-scroll-top">PAGE TOP</button>
</div>

<div class="footer__marquee">
  <div class="footer__marquee-content">
    <p class="footer__marquee-text">THANK YOU FOR VISITING!</p>
    <p class="footer__marquee-text" style="color: red;">THANK YOU FOR VISITING!</p>
  </div>
</div>