<div class="header__content">
  <a class="header__logo-link js-header__logo-link" href="/index.html"><h1><img src="/assets/img/logo.svg" alt=""></h1></a>
  <ul class="header__nav-list">
    <li class="header__nav-item">HOME<a class="header__nav-link" href="/index.html"></a></li>
    <li class="header__nav-item">WORKS<a class="header__nav-link" href="/works.html"></a></li>
    <li class="header__nav-item">PROFILE<a class="header__nav-link" href="/profile.html"></a></li>
  </ul>
</div>

<div class="mouse-stalker"><div></div></div>